@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GameStore</h1>
    <hr/>
    <a class="btn btn-primary float-none" asp-controller="Game" asp-action="GetGames">List of games</a>
</div>
